<h1>Welcome to saloon management, <%= @appointment.user.email %></h1>
  <p>
    You have successfully submit to website,
    your username is: <%= @appointment.user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
