<h1>Welcome to saloon management, <%= @order.user.email %></h1>
  <p>
    You have successfully submit to website and confrim your order..!!
    your username is: <%= @order.user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
